
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
}

.main-heading {
  font-size: 1.999em;
  font-weight: 700;
}

.subheading {
  font-size: 1.414em;
  font-weight: 400;
  line-height: 1.4;
  padding: 0 4%;
}

.quotes-wrapper {
  font-size: 1.414em;
  padding: 2em 0;
  font-family: 'Alegreya', Georgia, serif;
  line-height: 1.6;
}

.buttons {
  position: fixed;
  top: 12em;
  right: 0;
  left: 0;
  margin: 3em auto 1.4em;
}

.quotes-btn, .twitter-btn {
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 1em;
}

small {
  font-size: 0.707em;
}
