
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya:700');
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400');


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Verdana, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
}

.main-heading {
  font-family: 'Alegreya', Georgia, serif;
  font-weight: 700;
  font-size: 1.999em;
  color: #3F3F3F;
  margin: 4% 3% 0;
}

.subheading {
  font-weight: 400;
  line-height: 1.5;
  padding: 0 4%;
}

.buttons {
  margin: 3em auto;
}

.quotes-btn, .twitter-btn {
  cursor: pointer;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1em;
  text-align: center;
  color: #555555;
  outline: none;
}

.quotes-btn:hover,
.twitter-btn:hover {
  background-color: #000;
  color: #fff;
}

.twitter-btn {
  margin-left: 6px;
}

.quotes-wrapper {
  margin: 0;
  font-size: 1em;
  padding: 0;
  line-height: 1.6;
  font-family: 'Lato', Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}

blockquote {
  margin: 0 2em;
}

.footer {
  position: fixed;
  bottom: 1.5em;
  right: 0;
  left: 0;
  margin-bottom: 1em;
}

small {
  font-size: 0.707em;
}

/*************************** Media Queries ***************************/

@media (min-width: 480px) {
  .main-heading {
    font-size: 2.827em;
    margin: 15px 2.5% 0;
  }
  .subheading {
    font-size: 1.414em;
    line-height: 1.6;
    padding: 0 4%;
  }
  .quotes-wrapper {
    margin: 0 1%;
    font-size: 1.414em;
  }
  .footer {
    bottom: 1em;
    margin-bottom: .5em;
  }
  small {
    font-size: inherit;
  }
}

@media (min-width: 768px) {
  .quotes-wrapper {
    margin: 0 16%;
  }
}

@media (min-width: 1024px) {
  .buttons {
    margin: 3em auto 4em;
  }
  .quotes-wrapper {
    margin: 0 20%;
  }
}

@media (min-width: 1224px) {
  .quotes-wrapper {
    max-width: 760px;
    margin: 0 auto;
  }
}
